<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Assets</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope='col'>Name</th>
                        <th scope='col'>Investment</th>
                        <th scope='col'>Present Worth</th>
                        <th scope='col'>ROI</th>
                        <th scope='col'></th>
                    </tr>
                </thead>
                <tbody> <tr> <th scope='row'>House</th>
                        <td>$680,000</td>
                        <td>$475,000</td>
                        <td>43.1%</td>
                        <td><button class="btn bnt-defualt">Adjust</button></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
