<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12 col-sm-12">
                <h1>test</h1>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>A bunch of goodness.</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            If not logged in show this.
            <div class="col-sm-4 col-offset-left-4">
                <div ng-view="../views/login"></div>
            </div>
        </div>
    </div>
</div>
